body {
    background-color: #eaeaea;
    font-family: 'Montserrat','sans-serif';
}

.wrapper {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1170px;
    margin: 0 auto;
    position: relative;
}
.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 26px;
    padding-bottom: 40px;

}
.nav {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-right: -250px;
}
nav>li {
    padding-left: 23px;
    margin-left: 22px;
    position: relative;
}
.nav>li:first-child {
    padding-left: 0;
    margin-left: 0px;
}

.nav>li::before {
    content: '' ;
    display: block;
    width: 2px;
    height: 15px;
    background-color: #494949;
    position: absolute;
    left: 3;
}
.nav>li:first-child::before {
    display: none;
}

.nav>li>a {
    padding: 20px;
    text-decoration: none;
    color: #494949;

}
.banner {
    background-image: url(https://catherineasquithgallery.com/uploads/posts/2021-02/1612624449_199-p-fon-krasno-zelenii-253.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    color: #fff;
    padding-top: 260px;
    padding-bottom: 285px;
    max-height: 700px;
    margin-top: 20px;
}
.pizza {
    position: absolute;
    right: -70px;
    top: -180px;
    size: 800px;
}
.title {
    margin-top: -80px;
    font-size: 48px;
    margin-bottom: 23px;

}
.description {
    font-size: 22px;
    line-height: 30px;
    max-width: 570px;
    font-family: 'Roboto', 'sans-serif';
    margin-bottom: 24px;

}
.btn {
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
    border: 2px solid #fff;
    padding: 16px 0;
    max-width: 190px;
    text-align: center;
}

.h2 {
    font-size: 45px;
    color: #282828;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
}

.center {
    text-align: center;
    
}

.x {
    color: #585858;
    font-size: 20px;
    font-family: 'Roboto', 'sans-serif';
    margin: 0;
}

.menu {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding-left: 0;
    margin-top: 42px;
    margin-bottom: 65px;
}

.menu > li {
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
}

.menu >li::before {
    content: '' ;
    display: block;
    width: 2px;
    height: 15px;
    background-color: #494949;
    position: absolute;
    left: 0;
}

.menu > li:first-child::before {
    display: none;
}

.menu > li > a {
    text-decoration: none;
    color: #494948;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 18px;
}

.menu > li > a.active {
    border-bottom: 4px solid #ee252e;
    position: relative;
}
.menu > li > a.active::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    display: block;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom: 7px solid #ee252e;
}

.box {
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.11);
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.box-item {
    padding: 64px 0 58px 55px;
    box-sizing: content-box;
}

.number {
    font-family: 'Roboto', 'sans-serif';
    font-size: 120px;
    font-weight: 900;
    line-height: 0;
    position: relative;
    color: #282828;
}
.number::before {
    content: '';
}

.l1 {
    display: block;
    width: 140px;
    position: absolute;
    left: 150px;
    bottom: 460px;

}

.l2 {
    display: block;
    width: 198px;
    position: absolute;
    bottom: 430px;
    left: 550px;
    
}

.l3 {
    display: block;
    width: 220px;
    position: absolute;
    left: 934px;
    bottom: 445px;
}

.box-text {
    border-right: 1px solid #eaeaea;
    padding-right: 55px;
}

.box-item:last-child .box-text {
    border-right: none;
}

.box-text h3 {
    font-size: 45px;
    color: #282828;
    margin-bottom: 23px;
}
.box-text p {
    font-size: 18px;
    color: #282828;
    font-family: 'Roboto', 'sans-serif';
    line-height: 24px;
    margin-top: 0;
}

.btn-start {
    text-align: center;
    color: #eaeaea;
    background-image: url(https://catherineasquithgallery.com/uploads/posts/2021-02/thumbs/1612909186_5-p-chisto-krasnii-fon-bez-nichego-5.jpg);
    width: 400px;
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 100px;
    font-weight: 700;
    text-decoration: none;
}

.page {
    padding-top: 120px;
    padding-bottom: 94px;
}

.footer {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    padding: 44px 0;
    font-family: 'Roboto', 'sans-serif';
    font-size: 20px;

    background-image: url(https://catherineasquithgallery.com/uploads/posts/2021-02/1612624449_199-p-fon-krasno-zelenii-253.jpg);
}

@media (max-width: 1200px) {
    .wrapper {
        max-width: 800px;    
    }
    .pizza {
        display: none;
    }
    .banner {
        padding-top: 76px;
        padding-bottom: 100px;
    }
    .h2, .box-text h3 {
        font-size: 35px;
    }
    .h2 + p {
        font-size: 18px;
    }
    .menu > li {
        padding-left: 15px;
        padding-right: 15px;
    }
    .box {
        flex-direction: column;
    }
    .box-item {
        padding: 30px 55px 24px 55px;
    }
    .box-text {
        border-right: none;
        padding-left: 0;
        padding-bottom: 30px;
        border-bottom: 1px solid #eaeaea;
    }
    .box-item:last-child .box-text {
        border-bottom: none;

    }
}

@media (max-width: 800px) {
    .navigation {
        flex-direction: column;
    }
    .nav {
        margin-top: 34px;
        position: absolute;
        left: 2px;
        font-size: 14px;
        top: 70px;
    }
    .h2::before, .h2::after {
        display: none;

    }
    .btn-start{
        font-size: 20px;
        background-size: contain;
    }
    .footer {
        padding: 13px 0;
        color: #fff;
        text-transform: uppercase;
        font-size: 15px;
        font-family: 'Roboto', sans-serif;
        text-align: center;
    }
    .l1 {
        position: absolute;
        left: 160px;
        top: 327px;
    }
    .l2 {
        position: absolute;
        left: 160px;
        top: 760px;
    }
    .l3 {
        position: absolute;
        left: 160px;
        top: 1240px;
    }

    .menu {
        font-size: 1px;
    }

    .menu > li > a.active::before {
        display: none;
        width: 1px;
    }
    .menu > li > a.active {
        display: none;
    }
}




@media (max-width: 540px) {
    .navigation {
        flex-direction: column;
    }
    .nav {
        font-size: 10px;
        margin-top: 34px;
        position: absolute;
        left: 0;
        font-size: 9px;
        top: 70px;
    }
    .h2::before, .h2::after {
        display: none;

    }
    .btn-start{
        font-size: 20px;
        background-size: contain;
    }
    .footer {
        padding: 13px 0;
        color: #fff;
        text-transform: uppercase;
        font-size: 15px;
        font-family: 'Roboto', sans-serif;
        text-align: center;
    }
    .l1 {
        position: absolute;
        left: 160px;
        top: 360px;
    }
    .l2 {
        position: absolute;
        left: 160px;
        top : 885px;
    }
    .l3 {
        position: absolute;
        left: 137px;
        top: 1380px;
    }

    .menu {
        font-size: 1px;
    }

    .menu > li > a.active::before {
        display: none;
        width: 1px;
    }
    .menu > li > a.active {
        display: none;
    }
    .b {
        font-size: 9px;
    }
    .c {
        font-size: 9px;
    }
    .d {
        font-size: 9px;
    }
    .menu > li > a {
    display: none;
    }
}
